In [1]:
list1=['Kerala','Bangalore',1998,2000];
list2=[1,2,3,4,5,6,7];
print("list1[0]: ",list1[2])
print("list2[1:3]: ",list2[1:3])

list1[0]:  1998
list2[1:3]:  [2, 3]

In [3]:
list=['Kerala','Bangalore',1998,2000,2004];
print("Value available at index 2 :")
print(list[2])
list[2]=999999;
print("New value available at index 2: ")
print(list[2])

Value available at index 2 :
1998
New value available at index 2:
999999

In [5]:
list1=['physics','chemistry',2020,2000];
print(list1)
del (list1[2]);
print("After deleting value at index 2 : ")
print(list1)

['physics', 'chemistry', 2020, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [7]:
list1, list2=[123,"namitha","nithin"],[6298,"maya","suresh"]
print("First list length : ",len(list1))
print("Second list length : ",len(list2))

First list length :  3
Second list length :  3

In [8]:
aList=[123,'namitha','nithin','maya','suresh'];
aList.append(1998);
print("Updated List : ",aList)

Updated List :  [123, 'namitha', 'nithin', 'maya', 'suresh', 1998]

In [13]:
aList=[123,'xyz','abc','tuv',678];
print("Count for xyz : ",aList.count('xyz'))
print("Count for abc : ",aList.count('abc'))

Count for xyz :  1
Count for abc :  1

In [15]:
aList=[123,'xyz','uvw','abc','namitha'];
bList=[2000,"suresh"];
aList.extend(bList)
print("Extended List : ",aList)

Extended List :  [123, 'xyz', 'uvw', 'abc', 'namitha', 2000, 'suresh']

In [16]:
aList=[123,'xyz','uvw','abc','efg'];
print("Index for xyz : ",aList.index('xyz'))
print("Index for abc : ",aList.index('abc'))

Index for xyz :  1
Index for abc :  3

In [19]:
aList=[123,'xyz','namitha','abc']
aList.insert(3,2000)
print("Final List : ",aList)

Final List :  [123, 'xyz', 'namitha', 2000, 'abc']

In [2]:
aList=[123,'namitha','suresh','Bangalore'];
print(aList)
print("List after popping last element : ",aList.pop())
print(aList)
print("List after popping element from mentioned index: ",aList.pop(2))
print(aList)
aList.insert(3,2000)
print(aList)

[123, 'namitha', 'suresh', 'Bangalore']
List after popping last element :  Bangalore
[123, 'namitha', 'suresh']
List after popping element from mentioned index:  suresh
[123, 'namitha']
[123, 'namitha', 2000]

In [3]:
aList=[2004,'a','b','c','d'];
aList.remove('b');
print("List : ",aList)
aList.remove('d');
print("List : ",aList)

List :  [2004, 'a', 'c', 'd']
List :  [2004, 'a', 'c']

In [4]:
aList=['Suresh','Maya','Nithin','Namitha'];
aList.reverse();
print("List: ",aList)

List:  ['Namitha', 'Nithin', 'Maya', 'Suresh']

In [5]:
aList=['Suresh','Maya','Nithin','Namitha'];
aList.sort();
print("List : ",aList)

List :  ['Maya', 'Namitha', 'Nithin', 'Suresh']

In [7]:
aList=['123','Suresh','Maya','Nithin','Namitha'];
aList.sort();
print("List : ",aList)

List :  ['123', 'Maya', 'Namitha', 'Nithin', 'Suresh']