In [4]:
import pandas as pd
d=pd.read_excel("C:\\Users\\Namitha Suresh\\Downloads\\Books1.xlsx")
df=pd.DataFrame(d)
print(df)

   S.No. Name  Eng  Maths  Sci  Total
0      1    a   34     56   77    167
1      2    s   35     66   79    180
2      3    d   36     76   81    193
3      4    f   37     86   83    206
4      5   gh   38     96   85    219
5      6    j   39    106   87    232
6      7   kk   40    116   89    245

In [7]:
df['Percentage']=df['Total']/300*100
print(df)

   S.No. Name  Eng  Maths  Sci  Total  Percentage
0      1    a   34     56   77    167   55.666667
1      2    s   35     66   79    180   60.000000
2      3    d   36     76   81    193   64.333333
3      4    f   37     86   83    206   68.666667
4      5   gh   38     96   85    219   73.000000
5      6    j   39    106   87    232   77.333333
6      7   kk   40    116   89    245   81.666667

In [13]:
df.to_excel("C:\\Users\\Namitha Suresh\\Downloads\\new.xlsx")
df

   S.No. Name  Eng  Maths  Sci  Total  Percentage
0      1    a   34     56   77    167   55.666667
1      2    s   35     66   79    180   60.000000
2      3    d   36     76   81    193   64.333333
3      4    f   37     86   83    206   68.666667
4      5   gh   38     96   85    219   73.000000
5      6    j   39    106   87    232   77.333333
6      7   kk   40    116   89    245   81.666667

In [11]:
df.to_excel("C:\\Users\\Namitha Suresh\\Downloads\\new.xlsx",index=False)

In [15]:
df.to_csv("C:\\Users\\Namitha Suresh\\Downloads\\CSV1.csv",index=False)

In [17]:
df.to_csv("C:\\Users\\Namitha Suresh\\Downloads\\TEXT.txt",index=False,sep="\t")