In [1]:
import pandas as pd
import numpy as np
#create a series with 100 random numbers
s=pd.Series(np.random.randn(4))
print(s)

0    1.176654
1   -0.298791
2    0.601934
3   -0.177341
dtype: float64

In [2]:
import pandas as pd
import numpy as np
s=pd.Series(np.random.randn(4))
print("The axes are: ")
print(s.axes)

[RangeIndex(start=0, stop=4, step=1)]

In [1]:
import pandas as pd
import numpy as np
#Create a series with 100 random numbers
s=pd.Series(np.random.randn(4))
print("Is the object empty?")
print(s.empty)

Is the object empty?
False

In [2]:
import pandas as pd
import numpy as np
#create a series with 4 random numbers
s=pd.Series(np.random.randn(4))
print(s)
print("The dimensions of the object: ")
print(s.ndim)

0    0.506494
1    1.374841
2   -1.218091
3   -1.758857
dtype: float64
The dimensions of the object:
1

In [4]:
import pandas as pd
import numpy as np
#Create a series with 4 random numbers
s=pd.Series(np.random.rand(2))
print(s)
print("The size of the object: ")
print(s.size)

0    0.577305
1    0.651062
dtype: float64
The size of the object:
2

In [5]:
import pandas as pd
import numpy as np
#Create a series with 4 random numbers
s=pd.Series(np.random.randn(4))
print(s)
print("The actual data series is: ")
print(s.values)

0    2.245546
1   -1.391153
2    0.187303
3    0.231714
dtype: float64
The actual data series is:
[ 2.24554646 -1.39115258  0.18730303  0.23171446]

In [7]:
import pandas as pd
import numpy as np
#Create a series with 4 random numbers
s=pd.Series(np.random.rand(4))
print("The original series is: ")
print(s)
print("The first two rows of the data series: ")
print(s.head(2))

The original series is:
0    0.687844
1    0.595444
2    0.341187
3    0.374623
dtype: float64
The first two rows of the data series:
0    0.687844
1    0.595444
dtype: float64

In [8]:
import numpy as np
import pandas as pd
#Create a series with 4 random numbers
s=pd.Series(np.random.rand(4))
print("The original series is: ")
print(s)
print("The last two rows of the data series: ")
print(s.tail(2))

The original series is:
0    0.622155
1    0.953117
2    0.519820
3    0.999753
dtype: float64
The last two rows of the data series:
2    0.519820
3    0.999753
dtype: float64

In [9]:
import pandas as pd
import numpy as np
#Create a dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
  'Age':pd.Series([25,26,25,23,30,29,23]),
  'Rating':([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df=pd.DataFrame(d)
print("Our data series is: ")
print(df)

Our data series is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

In [12]:
import pandas as pd
import numpy as np
#Create a dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
  'Age':pd.Series([25,26,25,23,30,29,23]),
  'Rating':([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df=pd.DataFrame(d)
print("The transpose of the data series is:  ")
print(df.T)

The transpose of the data series is:
           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [13]:
import pandas as pd
import numpy as np
#Create a dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
  'Age':pd.Series([25,26,25,23,30,29,23]),
  'Rating':([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df=pd.DataFrame(d)
print("Row axis labels and column axis labels:  ")
print(df.axes)

Row axis labels and column axis labels:
[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [14]:
import pandas as pd
import numpy as np
#Create a dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
  'Age':pd.Series([25,26,25,23,30,29,23]),
  'Rating':([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df=pd.DataFrame(d)
print("The data types of each column are:  ")
print(df.dtypes)

The data types of each column are:
Name       object
Age         int64
Rating    float64
dtype: object

In [15]:
import pandas as pd
import numpy as np
#Create a dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
  'Age':pd.Series([25,26,25,23,30,29,23]),
  'Rating':([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df=pd.DataFrame(d)
print("Is the object empty? ")
print(df.empty)

Is the object empty?
False

In [16]:
import pandas as pd
import numpy as np
#Create a dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
  'Age':pd.Series([25,26,25,23,30,29,23]),
  'Rating':([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df=pd.DataFrame(d)
print("Our object is: ")
print(df)
print("The dimension of the object is: ")
print(df.ndim)

Our object is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The dimension of the object is:
2

In [17]:
import pandas as pd
import numpy as np
#Create a dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
  'Age':pd.Series([25,26,25,23,30,29,23]),
  'Rating':([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df=pd.DataFrame(d)
print("Our object is: ")
print(df)
print("The shape of the object is: ")
print(df.shape)

Our object is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The shape of the object is:
(7, 3)

In [18]:
import pandas as pd
import numpy as np
#Create a dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
  'Age':pd.Series([25,26,25,23,30,29,23]),
  'Rating':([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df=pd.DataFrame(d)
print("Our object is: ")
print(df)
print("The total number of elements in our object is: ")
print(df.size)

Our object is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The total number of elements in our object is:
21

In [19]:
import pandas as pd
import numpy as np
#Create a dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
  'Age':pd.Series([25,26,25,23,30,29,23]),
  'Rating':([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df=pd.DataFrame(d)
print("Our object is: ")
print(df)
print("The actual data in our object is: ")
print(df.values)

Our object is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The actual data in our object is:
[['Tom' 25 4.23]
 ['James' 26 3.24]
 ['Ricky' 25 3.98]
 ['Vin' 23 2.56]
 ['Steve' 30 3.2]
 ['Smith' 29 4.6]
 ['Jack' 23 3.8]]

In [21]:
import pandas as pd
import numpy as np
#Create a dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
  'Age':pd.Series([25,26,25,23,30,29,23]),
  'Rating':([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df=pd.DataFrame(d)
print("Our object is: ")
print(df)
print("The first three rows of the data frame is: ")
print(df.head(3))
print("default head values")
print(df.head())

Our object is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The first three rows of the data frame is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
default head values
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20

In [23]:
import pandas as pd
import numpy as np
#Create a dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
  'Age':pd.Series([25,26,25,23,30,29,23]),
  'Rating':([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df=pd.DataFrame(d)
print("Our object is: ")
print(df)
print("The last two rows of the data frame is: ")
print(df.tail(2))

Our object is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The last two rows of the data frame is:
    Name  Age  Rating
5  Smith   29     4.6
6   Jack   23     3.8