In [ ]:
tup=('cse','it','mech')
print(tup)
tup1=(1,23,4,5,5,6)
print(tup1)
tup2="ece","eee"
print(tup2)

('cse', 'it', 'mech')
(1, 23, 4, 5, 5, 6)
('ece', 'eee')

In [ ]:
tup1=()
print(tup1)

()

In [ ]:
tup1=(24)
print(tup1)

24

In [ ]:
tup=('cse','it','mech','ece','electrical')
print(tup[0])
print(tup[2])
print(tup[2:5])

cse
mech
('mech', 'ece', 'electrical')

In [ ]:
tup1=('cse','it','mech','ece','electrical')
print(tup1)

del(tup1)
print(tup1)

('cse', 'it', 'mech', 'ece', 'electrical')

NameError: ignored

In [ ]:
tup1=('cse','it','mech','ece','electrical')
print(tup1)
tup2=('Namitha','Nyra','Naysha')
print(tup2)
tup3=tup1+tup2
print(tup3)

('cse', 'it', 'mech', 'ece', 'electrical')
('Namitha', 'Nyra', 'Naysha')
('cse', 'it', 'mech', 'ece', 'electrical', 'Namitha', 'Nyra', 'Naysha')

In [ ]:
tup1=('cse','it','mech','ece','electrical')
print(tup1)

print("Value at 3rd loc= ",tup1[3])

tup1[3]="Namitha" #not allowed
print("UPDATED value at 3rd loc = ",tup1[3])

('cse', 'it', 'mech', 'ece', 'electrical')
Value at 3rd loc=  ece

TypeError: ignored

In [ ]:
tup1=('cse','it','mech','ece','electrical')
print(tup1)
tup2=('Namitha','Maya','Suresh','Nithin')
print(tup2)
a=len(tup1)
b=len(tup2)
print(a)
print(b)

print(len(tup1))

('cse', 'it', 'mech', 'ece', 'electrical')
('Namitha', 'Maya', 'Suresh', 'Nithin')
5
4
5

In [ ]:
tup1=('cse','it','mech','ece','electrical')
print(tup1)
tup2=('Namitha','Maya','Suresh','Nithin')
print(tup2)

print(max(tup1))

('cse', 'it', 'mech', 'ece', 'electrical')
('Namitha', 'Maya', 'Suresh', 'Nithin')
mech