In [3]:
import pandas as pd
import numpy as np

def adder(ele1, ele2):
    return ele1+ele2

df=pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print("printing the results of pipe")
print(df.pipe(adder,2))

       col1      col2      col3
0  1.017062 -0.829692 -0.074841
1 -0.327275  1.202538  0.320750
2 -1.242979  0.429122 -0.733194
3  0.636862 -1.307625 -0.702219
4  1.323123  0.350538 -0.990364
printing the results of pipe
       col1      col2      col3
0  3.017062  1.170308  1.925159
1  1.672725  3.202538  2.320750
2  0.757021  2.429122  1.266806
3  2.636862  0.692375  1.297781
4  3.323123  2.350538  1.009636

In [4]:
import pandas as pd
import numpy as np

def adder(ele1, ele2):
    return ele1+ele2

df=pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print(df.apply(np.mean))

       col1      col2      col3
0  0.157516  0.483341 -1.432088
1 -0.255100  0.568508  0.540761
2 -3.479511 -0.167612 -0.416607
3  1.578098  0.644360  0.490215
4 -0.497363 -1.350112  0.741089
col1   -0.499272
col2    0.035697
col3   -0.015326
dtype: float64

In [5]:
import pandas as pd
import numpy as np

def adder(ele1, ele2):
    return ele1+ele2

df=pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print(df.apply(np.mean,axis=1))

       col1      col2      col3
0 -0.287971  0.226497  0.896610
1  0.411282  0.530755 -0.623142
2 -0.083777  2.062186 -1.077584
3 -0.520178  0.629350 -0.118378
4 -0.558102  1.288131  0.212383
0    0.278379
1    0.106298
2    0.300275
3   -0.003069
4    0.314138
dtype: float64

In [7]:
import pandas as pd
import numpy as np

df=pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print(df['col1'].map(lambda x:x*100 ))

       col1      col2      col3
0 -1.148316 -0.587325 -0.016456
1 -0.707409  1.064842 -0.055690
2  0.149256 -0.094443 -1.403447
3 -0.272064  1.077031 -0.452930
4  0.506899 -0.324172  0.714936
0   -114.831605
1    -70.740931
2     14.925586
3    -27.206376
4     50.689893
Name: col1, dtype: float64

In [8]:
df=pd.DataFrame({'id':[1,2,3,4,5],'name':['abc','defg','ghs','eeee','wwww'],'age':[11,22,33,44,55],'income':[9999,8888,7777,6666,5555]})
print(df)

   id  name  age  income
0   1   abc   11    9999
1   2  defg   22    8888
2   3   ghs   33    7777
3   4  eeee   44    6666
4   5  wwww   55    5555

In [9]:
df['age']=df.apply(lambda x: x['age']+3, axis=1)
print(df)

   id  name  age  income
0   1   abc   14    9999
1   2  defg   25    8888
2   3   ghs   36    7777
3   4  eeee   47    6666
4   5  wwww   58    5555

In [8]:
list(filter(lambda x:x>18, df['age']))

[25, 36, 47, 58]

In [9]:
df['income']=list(map(lambda x:int(x+x*0.2),df['income']))
print(df)

   id  name  age  income
0   1   abc   14   11998
1   2  defg   25   10665
2   3   ghs   36    9332
3   4  eeee   47    7999
4   5  wwww   58    6666

In [10]:
import functools
functools.reduce(lambda a,b: a+b, df['income'])

46660

In [11]:
df['category']=df['age'].apply(lambda x: 'Adult' if x>=18 else'Child')
print(df)

   id  name  age  income category
0   1   abc   14   11998    Child
1   2  defg   25   10665    Adult
2   3   ghs   36    9332    Adult
3   4  eeee   47    7999    Adult
4   5  wwww   58    6666    Adult