In [2]:
var1 = "Hello World!"
var2 = "Python programming"
print(var1," ",var2)

Hello World!   Python programming

In [3]:
var1 = "Hello World!"
var2 = "Python programming"
print(var1[0])
print(var2[1:5])

H
ytho

In [4]:
var1 = 'Hello World!'
print("Updated string:- ",var1[0:6]+'Shabnam')

Updated string:-  Hello Shabnam

In [3]:
str1=input("Please enter your own string:")
str2=str1
str3=str1[:]
str4=str1[2:6]

print("The Final String : Str2 = ",str2)
print("The Final String : Str3 = = ",str3)
print("The Final String : Str4 = =",str4)

Please enter your own string:hello class
The Final String : Str2 =  hello class
The Final String : Str3 = =  hello class
The Final String : Str4 = = llo

In [4]:
#Python String capitalize() method returns a copy of the string with only its first character capitalized.
str="this is string example...wow!!!";
print("str.capitalize() : ",str.capitalize())

str.capitalize() :  This is string example...wow!!!

In [5]:
#center() returns centered in a string of length width. Padding is done using the specified fillchar. Default filler is a space.
str="this is string example....wow!!!"
print("str.length(40,'a') : ",str.center(40, '*'))

str.length(40,'a') :  ****this is string example....wow!!!****

In [8]:
#count() returns the number of occurences of substring sub in the range [start,end].
#str.count(sub, start=0,end=len(string))
str="this is string example....wow!!!"

sub="i";
print("str.count(sub,4,40) : ",str.count(sub,4,40))
sub = "wow"
print("str.count(sub) : ",str.count(sub))

str.count(sub,4,40) :  2
str.count(sub) :  1

In [9]:
#find() determines if string str occurs in string, or in a substring of string if starting index beg and ending index end are given

#str.find(str, beg=0, end=len(string))
str1="this is string example....wow!!!"
str2="is";

print(str1.find(str2))
print(str1.find(str2, 10))
print(str1.find(str2, 40))

2
-1
-1

In [10]:
#index() determines if string str occurs in string or in a substring of string if starting index beg and ending index are given.
str1 = "this is string example....wow!!!";
str2 = "exam";
print(str1.index(str2))
print(str1.index(str2,10,32))

15
15

In [11]:
#isalnum() checks whether the string consists of alphanumeric characters.
str = "this2000"
print(str.isalnum())

str="This is a string example";
print(str.isalnum())

True
False

In [13]:
str="NamithaSuresh"; #No space and digit
print(str.isalpha())

str="This is a string example";
print(str.isalpha())

True
False

In [14]:
str="987654"; # only digit in this string
print(str.isdigit())

str="This is a string example";
print(str.isdigit())

True
False

In [15]:
str="DATA ANALYSIS USING PYTHON";
print(str.islower())
str="data analysis using python";
print(str.islower())

False
True

In [16]:
str="Thisyearis2021";
print(str.isnumeric())

str="1234567890"
print(str.isnumeric())

False
True

In [18]:
str=" ";
print(str.isspace())
str="This is a string example";
print(str.isspace())

True
False

In [19]:
str="Data Analysis Using Python";
print(str.istitle())
str="data analysis using python";
print(str.istitle())

True
False

In [20]:
str="DATA ANALYSIS USING PYTHON";
print(str.isupper())
str="Data analysis using python";
print(str.isupper())

True
False

In [21]:
#join() returns a string in which the string element of sequence have been joined by str seperator.
s = " * * ";
seq = ("abc","bttt","cqweqe");
print(s.join(seq))

abc * * bttt * * cqweqe

In [24]:
str = "This is a string example";
print("Length of the string is:", len(str))

Length of the string is: 24

In [26]:
#lstrip() return copy of the string in which all chars have been stripped from the beginning of the string (default whitespace characters)

str = "     This is a string example      ";
print(str.lstrip())
str = "66666This is a string example88888";
print(str.lstrip('6'))
print(str.rstrip('8'))

This is a string example
This is a string example88888
66666This is a string example

In [27]:
str="DATA ANALYSIS USING PYTHON";
print(str.lower())

data analysis using python

In [28]:
#returns largest character
str="Namitha_Suresh";
print("Max character: "+max(str))

str="CMR_University";
print("Max character: "+max(str))

Max character: u
Max character: y

In [31]:
str="Namitha_Suresh";
print("Min character: "+min(str))

str="CMR-University";
print("Min character: "+min(str))

Min character: N
Min character: -

In [34]:
#str.replace(old, new[,max])

str="Namitha Suresh is a student at Kendriya Vidyalaya Malleswaram and is a student at CMR University";
print(str.replace("is","was"))
print(str.replace("is","was",1))

Namitha Suresh was a student at Kendriya Vidyalaya Malleswaram and was a student at CMR University
Namitha Suresh was a student at Kendriya Vidyalaya Malleswaram and is a student at CMR University

In [35]:
str="this is string example...wow!!!";
print(str.startswith('this'))
print(str.startswith('is',2,4))
print(str.startswith('this',2,4))

True
True
False

In [36]:
str="Namitha Suresh";
print("str.capitalize() : ",str.upper())

str.capitalize() :  NAMITHA SURESH

In [38]:
str="NAMITHA SURESH";
print(str.swapcase())
str="namitha suresh";
print(str.swapcase())

namitha suresh
NAMITHA SURESH